$bg_name: ion-ios-home ion-android-plane ion-camera ion-android-restaurant ion-ios-football ion-android-pin ion-android-globe ion-android-person ion-android-warning ion-android-alert ion-android-share ion-android-apps;
$bg_vars: #66FF99 #cc0033 #66CCFF #99cc33 #CC6666 #FFCC66 #78b4fd #ff9900 #ea68a2 #ff6a6a #848484 #ed271c;


/**/
$grid-columns:12;
$perfix: cjd;
$grid-gutter-width:30px;